{% include 'pageMacros.html' %}
{% include 'components/_index.html' %}
{% include 'svg/_index.html' %}

{# This serves as our base template; it is rendered inside of the 'apos-refreshable' class in outerLayout.html. #}
{# This is where we declare the main blocks that our layout is composed of, e.g. header, main, footer, etc. #}
{# Depending on your needs this is where you would create blocks that you can hook into from other templates, #}
{# e.g. the extraBreadcrumbs block within the breadcrumbs block. #}

{# DO NOT REMOVE THESE COMMENTS. We parse these for outerLayout and refresh operations #}
<!-- APOS-BODY-CLASS {% block bodyClass %}{% endblock %} -->
<!-- APOS-TITLE {% block title %}{% endblock %} -->
<!-- APOS-EXTRA-HEAD {% block extraHead %}{% endblock %} -->
<!-- APOS-SEO-DESCRIPTION {% block seoDescription %}{% endblock %} -->


{% block header %}
  <div class="block top">
      <div class="inner demo-inner">
        <header>
          <div class="demo-header">
            <table border="0">
                <tr>
                    <td class="header-logo">
                        <a href="http://uits-labs.ru">
                            <img src="/images/uits.png"/>
                        </a>
                    </td>
                    <td class="header-text">
                        {{aposArea(global, 'header', {
                          styles: [
                            { value: 'div', label: 'Normal' },
                            { value: 'h3', label: 'Heading', attributes: { class: 'normal-heading' } },
                            { value: 'h3', label: 'Blue Heading', attributes: { class: 'blue-text' } }
                          ]
                        }) }}
                    </td>
                </tr>
            </table>
          </div>
          {{ nav(page) }}
        </header>
      {% block headerContent %}
      {% endblock %}
    </div>
  </div>
  <div class="block header {% block upperClass %}{% endblock %}">
    {% block headerBackground %}{% endblock %}

  </div>
{% endblock %}

{% block main %}
  {# most content will be just fine sitting within our 'block' class, but we always #}
  {# have the option to override the 'main' block if we want a little more control. #}
  {% block mainContent %}
  {% endblock %}
{% endblock %}

{% block extraContent %}
{% endblock %}

{# notice that this footer uses global areas: if we want editable content to appear #}
{# on every page that inherits this one we want to use the global object instead of #}
{# the page object. #}

{% block footer %}
  <footer class="block footer">
    <div class="inner">
      {% block footerContent %}
        <div class="inline-middle width-50">
          Apostrophe is led by <a href="http://punkave.com">P'unk Avenue</a> in Philadelphia, PA.
        </div>{#
      #}<div class="inline-middle width-50 align-right">
          <a class="inline-top footer-logo" href="http://punkave.com">
            <img src="/images/demo_logo_punk.png" class="" alt="P'unk Avenue" width="150" height="32" />
          </a>
        </div>
      {% endblock %}
    </div>
      <div style="float:right">
          <!-- Yandex.Metrika informer -->
          <a href="https://metrika.yandex.ru/stat/?id=29511990&amp;from=informer"
             target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/29511990/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                                 style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:29511990,lang:'ru'});return false}catch(e){}"/></a>
          <!-- /Yandex.Metrika informer -->

          <!-- Yandex.Metrika counter -->
          <script type="text/javascript">
              (function (d, w, c) {
                  (w[c] = w[c] || []).push(function() {
                      try {
                          w.yaCounter29511990 = new Ya.Metrika({id:29511990,
                              clickmap:true,
                              trackLinks:true,
                              accurateTrackBounce:true});
                      } catch(e) { }
                  });

                  var n = d.getElementsByTagName("script")[0],
                          s = d.createElement("script"),
                          f = function () { n.parentNode.insertBefore(s, n); };
                  s.type = "text/javascript";
                  s.async = true;
                  s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                  if (w.opera == "[object Opera]") {
                      d.addEventListener("DOMContentLoaded", f, false);
                  } else { f(); }
              })(document, window, "yandex_metrika_callbacks");
          </script>
          <noscript><div><img src="//mc.yandex.ru/watch/29511990" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
          <!-- /Yandex.Metrika counter -->
      </div>
  </footer>
{% endblock %}
