header { position: relative; }
.demo-inner
{
  max-width: 1160px;
  @media screen and @narrow
  {
    width: ~"calc(100% + 2rem)";
    margin-left: -1rem;
  }
}

.demo-header, .demo-nav
{
  max-width: 1060px;
  margin: 0 auto;
}

.demo-nav-logo
{
  text-align: center;
  padding: 2rem 0;
}

.demo-header
{
  position: relative;

  //padding: 1rem 2.5rem 2rem;

  line-height: 1.25em;
  color: @white;
  //background-color: #b1c6d8;
  background-color: @header-background;

  table {
    width: 100%;
  }

  .header-logo{
    width: 1px;
    background-color: white;
    vertical-align: top;
    padding: 10px 10px 10px 10px;
    @media screen and @narrow
    {
      display: none;
      //padding: 5px 5px 5px 5px;
    }
    img{
      height: 80px;
//      @media screen and @narrow
//      {
//        height: 50px;
//      }
    }

  }

  .header-text{
    width: 100%;
    display: inline-block;
    padding: 10px 120px 10px 10px;
    text-align: center;
    @media screen and @narrow
    {
      padding: 5px 5px 5px 5px;
    }
  }

  a
  {
    color: white;
    font-weight: normal;
  }

  a:hover {
    text-decoration: underline;
  }
}

// collapsing the demo header
.collapse-header .demo-header
{
  padding: 1rem 2.5rem;
  padding-right: 0;

  p { display: none; }

  @media screen and @narrow
  {
    &:before
    {
      top: 0.6rem;
    }
    h5
    {
      font-size: 1rem;
      line-height: 1.1rem;
    }
  }
}

.demo-nav
{
  position: relative;
  background-color: @white;

  &::after
  {
    position: absolute;
    top: 100%;
    left: 0; right: 0;

    display: block;
    content: '';
    height: 8px;

    background-color: fade(@dark, 20%);
  }

  .nav-item
  {
    .inline-block(top);
    padding: 0.425em 1em;

    & > a
    {
      .inline-block(top);
      padding: 0.075em 0;
      .KarlaBold(@text-small);
      color: @main-color;

      &.active
      {
        border-bottom: 1px solid @main-color;
      }
    }
  }
}

.top
{
  background-color: @top-background;
  padding-bottom: 2rem;
}

h5.courseContainer-header{
  padding-top: 20px;
}
