.demo-pageheader
{
  max-width: 770px;
  margin: 1.5rem auto;

  @media screen and @narrow
  {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .pageheader-logo
  {
    margin-bottom: 1rem;
  }

  .pageheader-heading, h3
  {
    line-height: 1.2em;
    color: @red;
    margin-bottom: 0.5em;
  }

  .pageheader-subheading, h4
  {
    line-height: 1.2em;
    color: @dark;
  }

  .pageheader-body
  {
    margin-top: 3rem;
    color: @dark;
  }

}
