.demo-subnav
{
  padding-right: 5rem;

  .subnav-page-title
  {
    padding-bottom: 1em;
    margin-bottom: 0.75em;

    .KarlaBold();
    color: @main-color;

    border-bottom: 1px solid @main-color;
  }

  .subnav-item > a
  {
    display: block;
    margin-bottom: 0.75em;

    .Karla();
    color: @dark;
  }

  .subnav-parent
  {
    .inline-block(top);
    margin-bottom: 1em;

    .font-size(@text-tiny);
  }

}

@media screen and @narrow
{
  .subnav-page-title,
  .subnav-item a
  {
    padding: 0.75rem;
    width: 100%;
    // display: inline-block;
  }
  .subnav-page-title
  {
    margin-bottom: 0;
    background-color: @main-color;
    color: @white;
    padding-top: 1rem;
  }
  .subnav-item a
  {
    border-bottom: 1px solid @gray;
    display: block;
    background-color: @white;
    color: @dark;
    &:hover { background-color: darken(@white, 5%); }
  }
  .subnav-items{ margin-bottom: 1rem;}
}