{%- macro renderBlogListings(pieces, options) -%}
  {%- if pieces -%}
    <ul class="blog-listings">
      {%- for piece in pieces -%}
        {{ renderBlogListing(piece) }}
      {%- endfor -%}
    </ul>
  {%- else -%}
    <h2>{{ __('There are no blog posts yet.') }}</h2>
  {%- endif -%}
{%- endmacro -%}

{%- macro renderBlogListing(piece) -%}
  {% set image = aposAreaImage(piece, 'image') %}
  <li class="column width-100 demo-blog-listing">
    <div class="column width-33 blog-listing-image">
      <div class="blog-card-head" {% if image %}style="background-image:url({{ aposFilePath(image, { size: 'one-half' }) }})"{% endif %}>
        {%- if image -%}
          <img src="{{ aposFilePath(image, { size: 'one-half' }) }}">
        {%- endif -%}
      </div>
      <span class="sticker sticker--overlap">{{ piece.publishedAt | date('DD.MM.YYYY HH:mm' ) }}</span>
    </div>{#
      #}<div class="column width-66 blog-listing-info">
      <h5 class="blog-listing-title"><a href="{{ piece.url }}">{{ piece.title | e }}</a></h5>
      {% if piece.authorId %}
        <h6 class="blog-listing-author">by {{ piece._author.title }}</h6>
      {% endif %}
      <div class="blog-listing-excerpt">{{ aposAreaPlaintext(piece, 'body', { truncate: 200 }) }}</div>
      <a href="{{ piece.slug }}" alt="Далее">Далее</a>
    </div>
  </li>
{%- endmacro -%}

{%- macro blogCard(piece) -%}
  <div class="column width-30">
    <div class="demo-blog-card">
      <div class="blog-card-head">
        {{ aposSingleton(piece, 'image', 'slideshow', { limit: 1, aspectRatio: [324, 162], noHeight: true, edit: false, size: 'one-third' }) }}
        <div class="blog-card-title-container">
          <a href="{{ piece.url }}"><h6 class="blog-card-title">{{ piece.title }}</h6></a>
          {% if piece.authorId %}
            <span class="blog-card-author">by {{ piece._author.title }}</span>
          {% endif %}
        </div>
      </div>
      <div class="blog-card-excerpt-container">
        <p class="blog-card-excerpt">{{ aposAreaPlaintext(piece, 'body', { truncate: 300 }) }}</p>
        <a href="{{ piece.url }}">Далее</a>
      </div>
    </div>
    <span class="sticker sticker--overlap">{{ piece.publishedAt | date('DD.MM.YYYY HH:mm') }}</span>
  </div>
{%- endmacro -%}
