{%- extends 'layout.html' -%}
{%- include 'blogMacros.html' -%}

{% block bodyClass %}{{ super() }} demo-blog-show-page{% endblock %}

{# Article specific title tag, for Facebook, SEO, etc. #}
{%- block title -%}
  {{ siteTitle }} &ndash; {{ page.title | e }}
{%- endblock -%}

{% block upperClass %}demo-blog-header-background{% endblock %}
{% block headerBackground %}
{% set image = page.image.items[0]._items[0] %}
  <div class="block demo-blog-header-block">
<!--   <div class="block demo-blog-header-block" {% if image %}style="background-image:url({{ aposFilePath(image) }})" {% endif %}>
 -->  {{ aposSingleton(page, 'image', 'slideshow', { limit: 1, noHeight: true }) }}
    <div class="demo-blog-header-background-slideshow" >
      <div class="demo-blog-header inner">
        <div class="demo-blog-header-wrapper">
          <div class="sticker">{{ page.publishedAt | date('DD.MM.YYYY HH:mm') }}</div>
          <h3>{{ page.title }}</h3>
          {% if page.authorId %}
            <h5>by {{ page._author.title }}</h5>
          {% endif %}
        </div>

      </div>
      <div class="demo-blog-header-slideshow-control">

      </div>

    </div>
  </div>

{% endblock %}

{% block headerContent %}{% endblock %}

{# Facebook image, so it doesn't hoover up images from the dropdown menus #}
{# Works only if you specify an absolute URL for uploadsUrl in data/local.js #}
{% set firstImage = aposAreaImage(page, 'image') %}

{% block extraHead %}
  {% if firstImage %}
    <meta property="og:image" content="{{ aposFilePath(firstImage) }}" />
  {% endif %}
{% endblock %}

{% block mainContent %}
  <div class="block">
    <div class="inner">
      <div class="demo-blog-gutter">
        <div class="demo-blog-author">
          <div class="demo-blog-author-image">
            {{ aposSingleton(page._author, 'thumbnail', 'slideshow', { noHeight: true, edit: false}) }}
          </div>
          <div class="demo-blog-author-bio">
            {% if page.authorId %}
              {{ aposAreaPlaintext(page._author, 'body', { truncate: 100 }) }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="demo-blog-content">
        {{ aposArea(page, 'body', {

          styles: [
            { value: 'p', label: 'Text' },
            { value: 'h3', label: 'Heading' },
            { value: 'h5', label: 'Subheading' },
            { value: 'code', label: 'Code' }
          ],
          lockups: ['left', 'right']
        }) }}
      </div>
    </div>

  </div>
{% endblock %}