{% extends "layout.html" %}
{% include "pageMacros.html" %}

{# the bodyClass block allows us to attach a classname to the body tag for easy style-scoping. #}
{# be sure to call super() so that any pages inheriting this one will be appending classes, not overriding them. #}
{% block bodyClass %}{{ super() }} default-page{% endblock %}

{% block headerMessage %}You are on the "Default Page" template of the Apostrophe demo site.{% endblock %}

{% block upperClass %}bg-gold{% endblock %}




{% block mainContent %}
  <div class="block content">
    <div class="inner">
      <div class="demo-subnav inline-top width-25">
        {% if page.parent.type in ['default','coursesContainer'] %}
          <a class="subnav-parent" href="{{ page.parent.url }}">← {{ page.parent.title }}</a>
        {% endif %}
        <div class="subnav-page-title hide-mobile">{{ page.title }}</div>
        <ul class="subnav-items hide-mobile">
          {% for child in page.children %}
            <li class="subnav-item">
              <a href="{{ child.url }}">{{ child.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>{#
    #}<div class="demo-main inline-top width-75">
        {{ aposArea(page, 'main', {
          richText: true,
          styles: [
            { value: 'p', label: 'Text' },
            { value: 'h3', label: 'Title' },
            { value: 'h5', label: 'Subtitle' }
          ],
          lockups: ['left', 'right']
        }) }}

        {% if page.lastModified  %}
          <div class="lastModified">Последнее изменение: {{ page.lastModified | date('DD.MM.YYYY HH:mm') }}</div>
        {% endif %}


      {% block comments %}
      <div class="page-comments">
        <!-- KAMENT -->
        <!--<div id="kament_comments"></div>-->
        <!--<script type="text/javascript">-->
          <!--/* * * НАСТРОЙКА * * */-->
          <!--var kament_subdomain = 'uits-labs';-->

          <!--var kament_page_url = "http://uits-labs.ru{{ page.slug }}";-->

          <!--/* * * НЕ МЕНЯЙТЕ НИЧЕГО НИЖЕ ЭТОЙ СТРОКИ * * */-->
          <!--(function() {-->
            <!--var node = document.createElement('script'); node.type = 'text/javascript'; node.async = true;-->
            <!--node.src = 'http://' + kament_subdomain + '.svkament.ru/js/embed.js';-->
            <!--(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(node);-->
          <!--})();-->
        <!--</script>-->
        <!--<noscript>Для отображения комментариев нужно включить Javascript</noscript>-->
        <!-- /KAMENT -->

        <div id="disqus_thread"></div>
        <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'uitslabsru'; // required: replace example with your forum shortname

        var disqus_identifier = "{{ page.slug }}";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

      </div>
      {% endblock %}
    </div>
    </div>
  </div>
{% endblock %}
