{% extends "layout.html" %}
{% include "pageMacros.html" %}

{# the bodyClass block allows us to attach a classname to the body tag for easy style-scoping. #}
{# be sure to call super() so that any pages inheriting this one will be appending classes, not overriding them. #}
{% block bodyClass %}{{ super() }} default-page{% endblock %}

{% block headerMessage %}You are on the "Default Page" template of the Apostrophe demo site.{% endblock %}

{% block upperClass %}bg-gold{% endblock %}




{% block mainContent %}
  <div class="block content">
    <div class="inner">
      <div class="demo-subnav inline-top width-25">
        {% if page.parent.type == 'default' %}
          <a class="subnav-parent" href="{{ page.parent.url }}">← {{ page.parent.title }}</a>
        {% endif %}
        <div class="subnav-page-title hide-mobile">{{ page.title }}</div>
        <ul class="subnav-items hide-mobile">
          {% for child in page.children %}
            <li class="subnav-item">
              <a href="{{ child.url }}">{{ child.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>{#
    #}<div class="demo-main inline-top width-75">
        {{ aposArea(page, 'main', {
          richText: true,
          styles: [
            { value: 'p', label: 'Text' },
            { value: 'h3', label: 'Title' },
            { value: 'h5', label: 'Subtitle' }
          ],
          lockups: ['left', 'right']
        }) }}

        {% set schools = aposGroupBy(aposFilter(page.children, 'type', 'course'), 'school') %}
        {% for school, courses in schools %}
          {% if schools | keysSize > 1 %}
             <h4 class="courseContainer-header">{{ school | e }}</h4>
          {% endif %}
          <ul>
          {% set semesters = aposGroupBy(courses, 'semester') %}
          {% for semester, courses1 in semesters %}
              {% if semesters | keysSize > 1 %}
              <h5 class="courseContainer-header">{{ semester | e }}-й семестр</h5>
              {% endif %}
            {% for course in courses1 %}
              <li>
                <a href="{{ course.url }}">{{ course.title }}</a>
              </li>
            {% endfor %}
          {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
