{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}

{% block main %}
  <div>
    <div class="block content--bottom">
      <div class="inner demo-pageheader">
        {{ aposArea(page, 'main', {
          styles: [
            { value: 'p', label: 'Text' },
            { value: 'h3', label: 'Title' },
            { value: 'h5', label: 'Subtitle' }
          ],
          lockups: ['left', 'right']
        }) }}
      </div>
    </div>
  </div>


  <div class="block content--bottom">
    <div class="inner demo-pageheader">
      {{ aposArea(page, 'mainBottom', {
        styles: [
          { value: 'p', label: 'Text' },
          { value: 'h3', label: 'Title' },
          { value: 'h5', label: 'Subtitle' }
        ],
        lockups: ['left', 'right']
      }) }}
    </div>
  </div>
{% endblock %}
