.home-page
{
	//.top {background-color: transparent; }
	@media screen and @narrow
	{
		.demo-pageheader
		{
			//margin-top: -1.5rem;
			margin-bottom: 1rem;
		}

		.block--5
		{
			padding-bottom: 0;
		}
	}
}