// these are the background colors
@white: #ffffff;
@light-gold: #fcf9f2;
@heavy-gold: #f5e9cc;
@gray: #d8d6d0;
@grayed: #a9a7a1;
@dark: #49494a;

// spot colors
@red: #ea4339;
@green: #28b896;
@purple: #9c4499;
@blue: #6167ae;
@light-blue: #b2b2ff;

@main-color: #056198; //#2a96d8;
@main-background: #ffffff;
@top-background: #C4C4C4;
@footer-background: #e5e5e5;
@header-background: @main-color;