body
{
  background-color: @main-background;
}

.bg-red        { background-color: @red;        }
.bg-gray       { background-color: @gray;       }
.bg-gold       { background-color: @heavy-gold; }
.bg-light-blue { background-color: @light-blue; }
//.bg-main-color { background-color: #F4D1B4; }